*{
    margin: 0px;
}
.header{
    height: 600px;
    background-color: #FFF8F3;
    border: 3px solid salmon;
    display: flex;
}
.developer{
    width: 20%;
    height: 580px;
    border: 3px solid green;
}
.banner{
    width: 80%;
    height: 580px;
    border: 3px solid darkblue;
}
.nav-container{
    height: 100px;
    border: 3px solid cyan;
}
.text-container{
    width: 40%;
    height: 400px;
    border: 3px solid darkmagenta;
}
.img-container{
    width: 40%;
    height: 400px;
    border: 3px solid darkgoldenrod;
}
.text-img-container{
    display: flex;
}


