*{
    margin: 0px;
}

.header{
    background-color: #FFF8F3;
    height: 600px;
    display: flex;
    justify-content: space-between;
}
.developer{
    width: 20%;    
}

.developer-element{
    display: inline-block;
    transform: rotateZ(270deg);
    font-size: 35px;
    color: #C6C1C1;
    padding: 15%;
    letter-spacing: 5px;
    font-weight: bolder;
    line-height: 10px;

}


.banner{
    width: 80%;
}